@media only screen and (max-height: 598px) {
  .img-div {
    padding: 1px 0 !important;
  }
  .menu-item {
    width: 30px !important;
    height: 30px !important;
    margin: 3px 0 !important;
  }
}

.sidebar {
  background-color: var(--white);
  height: 100vh;
  box-shadow: rgb(0 0 0 / 11%) 0px 5px 15px;
  width: 4rem;
  padding: 0 7px;
  top: 0;
  bottom: 0;
}

.sidebar-active {
  background-color: var(--white);
  height: 100vh;
  box-shadow: rgb(0 0 0 / 11%) 0px 5px 15px;
  width: 14rem;
  padding: 0 7px;
  top: 0;
  bottom: 0;
}

.sidebar-active,
.menu-item-title,
.sidebar,
.img-div-active img,
.img-div img {
  transition: 300ms;
}

.img-div {
  padding: 30px 0;
}

.img-div-active {
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.img-div-active img {
  width: 7rem;
}

.img-div img {
  width: 4rem;
}
.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
  width: -webkit-fill-available;
}

.item-selected {
  background-color: var(--darkblue) !important;
}

.item-selected .menu-item-title {
  color: var(--white);
}

.item-list-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 0 22px;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
  width: -webkit-fill-available;
}

.menu-item-title {
  color: var(--gray);
  width: 100%;
  margin-left: 15px;
  text-align: left;
  font-size: 21px;
}

@media only screen and (max-width: 704px) {
  .sidebar-active {
    width: 4rem;
  }
  .menu-item-title {
    display: none;
  }
  .menu-item-active {
    justify-content: center;

    height: 45px;
    padding: unset;

    border-radius: 5px;
  }
  .img-div-active img {
    width: 4rem;
  }
}
